body {
  margin: 0;
  padding: 0;
  transition: all 0.5s ease-in-out;
}
* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

header {
  padding: 15px;

  text-align: center;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.main-div {
  text-align: center;
  max-width: 1200px;
  margin-inline: auto;
  margin-block: 8px;
}
.input-field {
  text-align: left;
  margin-block: 25px;
}
.container-h2 {
  margin: 1rem 0;
  padding: 2.5%;
  border: 1px solid blue;
  border-radius: 10px;
  background-color: white;
  color: black;
}
.dark {
  background-color: black;
  color: white;
  transition: all 0.5s ease-in-out;
}

.button-86 {
  all: unset;
  width: 260px;
  height: 23px;
  font-size: 25px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 14px 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  left: 0px;
  right: 0;
  margin: auto;
  margin-block: 20;
}

.button-86::after,
.button-86::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}
.meme-container {
  width: 45%;
  margin-inline: auto;
  height: 570px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding-inline: 25px;
  /* margin-block: 16px; */
}
img.memeimg {
  width: 100%;
  height: 475px;
  border-radius: inherit;
}
.meme-container {
  width: 45%;
  margin-inline: auto;
  height: 580px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding-inline: 25px;
  margin-block: 16px;
  border-radius: 10px;
  overflow: hidden;
}

.meme-auther {
  font-size: 20px;
  font-weight: 500;
}

/* HTML: <div class="loader"></div> */
.loader {
  margin-inline: auto;
  width: 100px;
  aspect-ratio: 1;
  display: grid;
  margin-block: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #ffa516 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #ffa516);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
